<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>


<div class="container mtop">
    <h1>СВС-Логистик</h1>
    <h3>Компания работает на рынкес 1998 г. и располагает собственными  ресурсами для оказания услуг самого высокого качества.</h3>
    <h7>На сегодняшний день компания «СВС-Логистик» предоставляет полный спектр курьерских услуг, осуществляя экспресс-доставку документов и грузов в любой населенный пункт России.
        Неизменной целю компании «СВС-Логистик» является постоянно повышение эффективности и качества обслуживание. Уделять большое внимание внедрению новых услуг и дополнительных сервисов, разрабатывать и предлагать гибкие транспортные и логистические решения для любых сфер бизнеса, предоставлять нашим клиентам максимально выгодные условия для сотрудничества, в основе которых стоят высокое стандарты надёжности и качества, продолжать расширять географию предоставляемых услуг в России и СНГ, открывая новые направления доставки почты и грузов по принципу «дверь-дверь».
    </h7>

    <ul class="uim">
        <li><h7>Штат курьеров —  более 1000 человек  в Москве и 2000  сотрудников по всей России.</h7></li>
        <li><h7>Зона обслуживания  включает 23 000  населенных пунктов.</h7></li>
        <li><h7>Более 160 филиалов  и представительств  в России.</h7></li>
    </ul>



</div>
<%- include("parts/footer.ejs") %>