<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container mtop">

    <h1>Авиаперевозки</h1>
    <h7>
    <p>Ситуация, когда возникает необходимость передать документы или посылку в срочном порядке, иногда возникает у каждого из нас. Если в пределах одного города можно воспользоваться услугами курьера, то для отправки груза в другой конец страны или за границу в короткий срок необходимо воспользоваться авиа-доставкой.</p>

    <h3>Удобство срочной авиа-доставки</h3>

    <p>Учитывая расстояния, которые разделяют города нашей страны, максимально быстро осуществить доставку можно только самолётом. Автомобили или поезда стоят дешевле, но не могут обеспечить нужную скорость. Некоторые населённые пункты отличаются затруднённой транспортной доступностью.</p>

    <p>Сегодня отправить груз самолётом вполне реально – эта услуга пользуется спросом, и в последние годы её стоимость стала доступной для всех. Благодаря авиаперевозкам с СВС-Логистик , доставка осуществляется в кратчайшие сроки – от нескольких часов до нескольких дней. В каких ситуациях необходима доставка самолётом? Отправить можно всё, что угодно:</p>

    <ul>

        <li>посылки;</li>
        <li>документы;</li>
        <li>личные вещи;</li>
        <li>некоторые виды лекарств;</li>

    </ul>

    <p>Бизнес и обычные граждане выбирают этот способ по ряду причин:</p>

    <ul>

        <li>гарантия поступления отправления в назначенный срок;</li>
        <li>прозрачность ценообразования и экономичность, обусловленная многообразием тарифов;</li>
        <li>комфорт – здесь нет необходимости ожидать оформления документов, ведь они уже полностью подготовлены и остается только поставить подпись на квитанции;</li>
        <li>сохранность груза, аккуратное и бережное с ним обращение, пока он находится в пути;</li>
        <li>возможность получения дополнительных сервисов.</li>
    </ul>

    <p>Сотрудничая с СВС-Логистик, можно при необходимости воспользоваться сервисами, которые увеличат уровень удобства или безопасности процесса:</p>

    <ul>
        <li>страхование грузов гарантирует компенсацию средств при повреждении или утере отправления;</li>
        <li>специальная упаковка для хрупких, негабаритных или ценных товаров надежно предохранит содержимое;</li>
        <li>заказ множественной доставки (по нескольким адресам, к примеру, приглашений, подарков, рекламных материалов) сэкономит средства, ведь опт всегда получает скидки.</li>
    </ul>
    </h7>
</div>

<%- include("parts/footer.ejs") %>