<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">СВС-Логистик</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">Features</a></li>
            <li><a href="#contact">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li><a href="#about">Q&A</a></li>
            <li><a href="#" class="btn btn-default">Get a Quote</a></li>
        </ul>
    </div>
</div>
<br><br>
<div class="container">
    <div class="col-md-5 pull-center">
        <form class="form-box">
            <h3 class="text-center">Задайте Ваш вопрос</h3>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="reName" placeholder="Имя">

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="reEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="rePhone" placeholder="Номер телефона">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="reCompany" placeholder="Организация">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <textarea rows="3" class="form-control" id="reQuest" placeholder="Ваш вопрос"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" id="reSend" class="btn btn-lg btn-success btn-block">Отправить</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <h4 id="sended"></h4>
                </div>
            </div>
        </form>
    </div>
</div>
<br>


<%- include("parts/footer.ejs") %>