<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container mtop">
    <h1>Сборные грузы</h1>
    <h7>
    <p>Ключевым моментом перевозки сборных грузов считается консолидация мелких партий товаров нескольких отправителей на отдельном специальном складе компании. Консолидированный (консолидационный) склад служит начальной точкой для перевозки сборных грузов по определенному маршруту. Время доставки в этом случае зависит от маршрута следования транспорта, срока комплектации партии и других факторов.</p>

    <p>Сборные грузы, как правило, перевозятся автомобильным транспортом.</p>

    <p>Но сейчас популярностью пользуются перевозки консолидированных партий грузов и с помощью железнодорожного транспорта.</p>

    <p>Преимущества сборных перевозок</p>

    <p>К основным преимуществам сборных перевозок можно отнести экономичность и удобство транспортировки в таком формате. Значительная экономия достигается благодаря эффективному использованию грузового пространства. В таком случае приемлемыми могут быть даже авиационные перевозки, которые отличаются высокой ценой. Доставка сборных грузов, как правило, производится «от двери к двери», именно поэтому удобство этого вида транспортировки очевидно.</p>

    <p>При расчете стоимости доставки сборного груза пользуются понятием « объёмного веса», то есть цена доставки зависит от габаритов и массы груза. Если перевозка осуществляется не под ключ, то владельцу груза необходимо заранее согласовать дополнительные услуги ( погрузочные работы, упаковку, разгрузку и т.д).</p>
    </h7>


</div>

<%- include("parts/footer.ejs") %>