<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container mtop">
    Сборные грузы
    Сборные грузы
    Сборные грузы
    Сборные грузы
    Сборные грузы
    Сборные грузы
    Сборные грузы
    Сборные грузы
    Сборные грузы
    Сборные грузы
    Сборные грузы
    Сборные грузы


</div>

<%- include("parts/footer.ejs") %>