<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">СВС-Логистик</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">Features</a></li>
            <li><a href="#contact">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li><a href="#about">Q&A</a></li>
            <li><a href="#" class="btn btn-default">Get a Quote</a></li>
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5439.045375230899!2d82.90379545615707!3d55.02855106075041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dfe42d0e761f3b%3A0x816dc17b339fdc8e!2z0YPQuy4g0JvQtdC90LjQvdCwLCAyMS8xINC60L7RgNC_0YPRgSAxLCDQndC-0LLQvtGB0LjQsdC40YDRgdC6LCDQndC-0LLQvtGB0LjQsdC40YDRgdC60LDRjyDQvtCx0LsuLCA2MzAwMDQ!5e0!3m2!1sru!2sru!4v1549004977921" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <table class="table table-hover table-borderless">
            <tr>
                <td>Новосибирск, ул.Ленина, 21/1 к.1 оф. 221</td>
            </tr>
            <tr>
                <td>Телефон: 8-800-250-28-91</td>
            </tr>
            <tr>
                <td>Телефон: + 7 (383) 214-41-97</td>
            </tr>
            <tr>
                <td>Телефон: + 7 (383) 214-41-98</td>
            </tr>
            <tr>
                <td>По вопросам заключения договоров на доставку: <a href="mailto:sales@svs-logistik.ru">sales@svs-logistik.ru </a></td>
            </tr>
            <tr>
                <td>По вопросам, связанным с осуществлением доставки и общим вопросам: <a href="mailto:info@svs-logistik.ru">info@svs-logistik.ru</a></td>
            </tr>
        </table>
    </div>
    </div>

<%- include("parts/footer.ejs") %>