<%- include("parts/head.ejs") %>

<!--Loader Section-->
<div class="loader loader-bg">
  <div class="loader-inner ball-clip-rotate-pulse">
    <div></div>
    <div></div>
  </div>
</div>
<!--Intro Section-->
<section class="intro">
  <div class="container-fluid">
    <%- include("parts/menu.ejs") %>
    <div class="banner-caption text-center">
      <h1>Быстро и надежно</h1>
      <p>Быстрая доставка любых грузов.
        Индивидуальный подход к каждому клиенту.</p>
      <div class="action-box"><a href="#" class="btn btn-transparent">Call Now</a><a href="#" class="btn btn-default">Book Order</a></div>
    </div>
  </div>
</section>

<section class="quick-services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <img src="img/feature-01.jpg" class="img-responsive">
          <h2>By Air</h2>
          <p>At times, it was an incredible blessing to have all the attention; at times it was a logistical nightmare.</p>
          <a href="#">Get Quote</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <img src="img/feature-02.jpg"  class="img-responsive">
          <h2>By Sea</h2>
          <p>At times, it was an incredible blessing to have all the attention; at times it was a logistical nightmare.</p>
          <a href="#">Get Quote</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <img src="img/feature-03.jpg" class="img-responsive">
          <h2>By Road</h2>
          <p>At times, it was an incredible blessing to have all the attention; at times it was a logistical nightmare.</p>
          <a href="#">Get Quote</a>
        </div>
      </div>
    </div>
    <div class="row secondary-content">
      <h2 class="text-center">Heading goes here<small>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</small></h2>
      <div class="col-md-5 col-md-offset-1">
        <ul>
          <li>Nam liber tempor cum soluta nobis eleifend option congue </li>
          <li>Tempor cum soluta nobis eleifend option congue nihil imperdiet;</li>
          <li>Cum soluta nobis eleifend option congue nihil imperdiet;</li>
          <li>Liber tempor cum soluta nobis eleifend option congue nihil imperdiet;</li>
        </ul>
      </div>
      <div class="col-md-5">
        <blockquote>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
          <p>Distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </blockquote>
      </div>
    </div>

  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>About our company</h2>
        <p>It's a lot of work and I also feel like I've done it. I miss comedy. And I also think that, from purely a logistical standpoint, that the day-to-day schedule on a comedy allows you to have a life, much more of a life, than on a drama.</p>
        <p>Distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        <a href="#" class="btn btn-transparent">Explore More</a>
      </div>
      <div class="col-md-6 pull-right image-sec">
        <img src="img/about-banner.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</section>


<section class="accordion-sec">
  <div class="container">
    <h2 class="text-center">Do you have any question?
      <small>The Sand Pebbles has always been one of my favorite films, I suppose because its the most difficult film</small></h2>
    <div class="row">
      <div class="col-md-6 accordion-box col-md-offset-1">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  This is First Question<span class="pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Second Question goes here<span class="pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  This is third question<span class="pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 panel-box pull">
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="fa fa-shield" aria-hidden="true"></i>
            <h4>Safe and Secure</h4>
            <p>Subheading for this goes here</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="fa fa-money" aria-hidden="true"></i>
            <h4>Value of Money</h4>
            <p>Subheading for this goes here</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="fa fa-life-ring" aria-hidden="true"></i>
            <h4>24/7 Spport Team</h4>
            <p>Subheading for this goes here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="form-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 testimonial-container">
        <h2 class="text-center">Coustomer Testimonials</h2>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">

              <div class="profile-circle text-center"><img class="img-circle" src="img/client-01.jpg"></div>
              <blockquote>
                <p><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus."</em></p>
                <footer>Someone famous in Source Title</footer>
              </blockquote>

            </div>
            <div class="item">
              <div class="profile-circle text-center"><img class="img-circle" src="img/client-02.jpg"></div>
              <blockquote>
                <p><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus."</em></p>
                <footer>Someone famous in Source Title</footer>
              </blockquote>

            </div>
            <div class="item">
              <div class="profile-circle text-center"><img class="img-circle" src="img/client-03.jpg"></div>
              <blockquote>
                <p><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus."</em></p>
                <footer>Someone famous in Source Title</footer>
              </blockquote>

            </div>
          </div>
        </div>

      </div>
      <div class="col-md-5 pull-right">
        <form class="form-box">
          <h3 class="text-center">Get your first quote</h3>
          <div class="form-group">
            <div class="col-md-6">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="First Name">
            </div>
            <div class="col-md-6">

              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Company Name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <select class="form-control">
                <option>Select Location</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <select class="form-control">
                <option>Select Type</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include("parts/footer.ejs") %>