<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">СВС-Логистик</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">Features</a></li>
            <li><a href="#contact">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li><a href="#about">Q&A</a></li>
            <li><a href="#" class="btn btn-default">Get a Quote</a></li>
        </ul>
    </div>
</div>
<br><br>
<div class="container">
    <div class="form-row">
        <div class="col-md-2">
            <input id="from" type="date" class="form-control" required>
        </div>
        <div class="col-md-2">
            <input id="to" type="date" class="form-control" required>
        </div>
        <div class="col-md-2">
            <button id="findDisp" class="btn">Выбрать</button>
        </div>

</div>
</div>
<br>
<div class="container" id="disptable">

</div>

<%- include("parts/footer.ejs") %>