<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container mtop">
    <h1>Доставка грузов  с температурным  режимом</h1>
    <h7>Биоматериалы и медицинские  препараты требуют особых  условий транспортировки.</h7>
    <h7>Мы работаем с грузами,  требующими строгого  соблюдения температурного  режима, используя современные технологии холодовых цепей:</h7>
    <ul class="uim">
        <li> <h7>Перевозка грузов с температурным режимом  от -196 °С до +25 °С с предоставлением  термобоксов и термологгеров.</h7></li>
        <li> <h7>Ответственное хранение лекарственных препаратов,  лабораторных наборов и оборудования.</h7></li>
        <li> <h7>Комплектация и доставка материалов в исследовательские центры Москвы и России.</h7></li>
        <li> <h7>Специальные зоны хранения с температурным  режимом от -196 °С до +25 °С</h7></li>
        <li> <h7>Помощь в оформлении разрешений Минздрава на ввоз/вывоз лекарственных препаратов.</h7></li>
        <li> <h7>Доставка лабораторных наборов и оборудования  медицинского назначения.</h7></li>
    </ul>
    <h7>Уверенность в качестве  доставки термогрузов  достигается с помощью  мониторинга и контроля  на каждом этапе:</h7>
    <ul class="uim">
        <li><h7>Сбор груза с термобоксом или на автомобиле с рефрижератором, с демонстрацией показаний термодатчика.</h7></li>
        <li><h7>Доставка груза в термобоксе или на автомобиле с рефрижератором с демонстрацией показаний термодатчика.</h7></li>
        <li><h7>Предоставление результатов расшифровки термодатчикав виде графика температуры на всем пути следования груза.</h7></li>
        <li><h7>Контроль всех этапов менеджером, ответственным за заказ  Система контроля качества соответствует стандартам GDP*.</h7></li>
    </ul>




</div>

<%- include("parts/footer.ejs") %>