</div>
<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="footer-logo">СВС-Логистик</h2>
            </div>
            <div class="col-md-2 text-center">
                <i class="fa fa-map"></i><br>
                <div>Новосибирск<br>ул. Ленина 21/1 к.1</div>
            </div>
            <div class="col-md-2 text-center">
                <i class="fa fa-mobile" aria-hidden="true"></i><br>
                <div>8 (800) 250-2891 <br>8 (383 )214-4197</div>
            </div>
            <div class="col-md-2 text-center">
                <i class="fa fa-envelope"></i><br>
                <div>
                    <a href="#">sales@svs-logistik.ru</a>
                    <a href="#">www.svs-logistik.ru</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-social">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>



<script src="/public/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/public/js/core.js" type="text/javascript"></script>
<script src="/public/js/jquery-ui.min.js" type="text/javascript"></script>

</div>
</body>
</html>