<!DOCTYPE html>
<html>
<head>
    <title>СВС Логистик</title>
</head>
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/public/css/custom-style.css">
<!--Loader Style -->
<link rel="stylesheet" type="text/css" href="/public/css/loaders.css">
<body>
<div class="wrapper">
    <div class="content">